# Rename this file to `.env` and replace with your actual API key

GEMINI_API_KEY=your-api-key-here
EMAIL_ADDRESS = "your_email@gmail.com"       # Your Gmail address
EMAIL_PASSWORD = "your_app_password"         # App password (recommended for Gmail)
EMAIL_RECEIVER = "receiver@gmail.com"     # Who you're sending to
